# Q1

In [3]:
from scipy import stats
import pandas as pd

In [10]:
df=pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [12]:
df_unitA=df.iloc[:,0]
df_unitB=df.iloc[:,1]

In [13]:
??stats.ttest_ind

In [18]:
p=stats.ttest_ind(df_unitA,df_unitB,alternative='two-sided')[1]
round(p,4)

0.4722

# Q2

In [20]:
import pandas as pd
from scipy import stats

In [22]:
df= pd.read_csv("LabTAT.csv")
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [30]:
df.iloc[:,0].count()

120

In [31]:
df.iloc[:,1].count()

120

In [32]:
df.iloc[:,2].count()

120

In [34]:
df.iloc[:,3].count()

120

In [29]:
p=stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])[1]
round(p,4)

0.0

# Q3

In [41]:
import pandas as pd
from scipy import stats

In [57]:
df_obs = pd.read_csv("BuyerRatio.csv")
df_obs.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [58]:
observed = []
for val in ['East','West','North','South']:
    df = df_obs[val]
    observed.append(round(df[0]/df[1],4))

observed

[0.1149, 0.0932, 0.0966, 0.0933]

In [61]:
df_exp = pd.read_csv("BuyerRatio_Expected.csv")
df_exp.head()

  Unnamed: 0  East  West  North  South
0      Males    50   142    131     70
1    Females   550   351    480    350

In [62]:
expected = []
for val in ['East','West','North','South']:
    df = df_exp[val]
    expected.append(round(df[0]/df[1],4))

expected

[0.0909, 0.4046, 0.2729, 0.2]

In [63]:
??stats.chisquare

In [67]:
p_value=stats.chisquare(f_obs=observed,f_exp=expected)[1]
round(p_value,4)

0.9367

# Q4

In [99]:
import pandas as pd
from scipy import stats

In [100]:
df = pd.read_csv("Costomer+OrderForm.csv")
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [126]:
dfctper=[]
for val in ['Phillippines','Indonesia','Malta','India']:
    
     dfctper.append(round(df[val].value_counts()['Defective']/df[val].count(),4))

obs=dfctper
obs

[0.0967, 0.11, 0.1033, 0.0667]

In [127]:
sum = 0
for i in dfctper:
    sum=sum+i 
mean = sum/4
mean = round(mean,4)

In [128]:
exp=[]
for i in range(0,4):
    exp.append(mean)
exp

[0.0942, 0.0942, 0.0942, 0.0942]

In [129]:
??stats.chisquare

In [133]:
p_value=stats.chisquare(f_obs=obs,f_exp=exp)[1]
round(p_value,4)

0.9997